body{
    font-family: 'Segoe UI' , 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #e0f7fa, #e1bee7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    margin: 0;
}