/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f2f2f2;
  }
  
  .filter-container {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .filter-container select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  /* Conteneur des examens */
  .exams-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Cartes des examens */
  .exam-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .exam-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #2a9d8f;
  }
  
  /* Style des boutons */
  .exam-card button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  
  .exam-card button i {
    font-size: 20px;
  }
  
  .exam-card button:hover {
    opacity: 0.8;
  }