/* Global styles */
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
    background: #ffffff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: blue;
    margin-bottom: 20px;
  }
  
  p {
    color: #333;
    margin-bottom: 40px;
    font-size: 1.2em;
  }
  
  /* Log out button styles */
  .logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 12px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .logout-btn i {
    margin-right: 10px;
    font-size: 1.5em;
  }
  
  .logout-btn:hover {
    background-color: blue;
    transform: scale(1.1);
  }
  
  .logout-btn:active {
    transform: scale(1);
  }
  
  .details {
    font-weight: bold;
  }
  
  /* Confirmation message styles */
  .confirmation-message {
    display: none;
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .confirmation-message p {
    color: blue;
    font-size: 1.1em;
  }
  
  .confirm-btn,
  .cancel-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
  }
  
  .confirm-btn {
    background-color: blue;
    color: white;
  }
  
  .cancel-btn {
    background-color: #ddd;
    color: #333;
  }
  
  .confirm-btn:hover {
    background-color: blue;
  }
  
  .cancel-btn:hover {
    background-color: #bbb;
  }
  